@mixin landscape {
  @media (orientation: landscape) {
    @content;
  }
}

@mixin portrait {
  @media (orientation: portrait) {
    @content;
  }
}

html, body, #root {
  display: flex;
  flex-direction: column;
  flex: 1;
}

html, body, #root {
  min-height: 100vh;
}

html, body, #root {
  min-height: -webkit-fill-available;
}

html {
  overflow: hidden;
  background-color: #E2EFDE;
}

body {
  padding: 0;
  border: 0;
  margin: 0;
}

h1 {
  font: bold 10vmin monospace;
}

p {
  font: 3vmin monospace;
}