@mixin landscape {
  @media (orientation: landscape) {
    @content;
  }
}

@mixin portrait {
  @media (orientation: portrait) {
    @content;
  }
}

html {
  overflow: hidden;
  background-color: #E2EFDE;
}

body {
  padding: 0;
  border: 0;
  margin: 0;
}

#root {
  width: 100vw;
  height: 100vh;
  display: flex;
}

h1 {
  font: bold 10vmin monospace;
}