@import '../../theme.scss';

.input-button {
  font: bold 3vmin monospace;
  border-radius: 2vmin;
  padding: 2vmin 3vmin;
  user-select: none;
  text-decoration: none;
  cursor: pointer;

  &.ghost, & {
    background-color: var(--secondary);
    color: var(--primary);
    border: 0.75vmin solid var(--primary);

    &:active {
      color: var(--primary-light);
      border: 0.75vmin solid var(--primary-light);
      background-color: var(--secondary-dark);
    }
  }

  &.solid {
    background-color: var(--primary);
    color: var(--secondary);
    border: 0.75vmin solid var(--primary);

    &:active {
      background-color: var(--primary-light);
      border: 0.75vmin solid var(--primary-light);
    }
  }

  &.smooth {
    background-color: var(--secondary);
    color: var(--primary);
    border: 0.75vmin solid var(--secondary);

    &:active {
      background-color: var(--secondary-dark);
      color: var(--primary-light);
      border: 0.75vmin solid var(--secondary-dark);
    }
  }
}